<div class="jumbotron">
	<h1 class="text-center">Linker</h1>
	<p class="text-center"> Make links with words and text the url to yourself </p>
	<%= link_to 'Add a new link', new_link_path, class: "btn btn-default btn-lg btn-block" %>
</div>
<% if @links %>
	<% @links.each do |link| %>
		<p>
			<span style="font-size: 25px">
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				Shortlink: <%= link.entry %>
			</span>
			<%= link_to 'Show', link_path(link), class: "btn btn-default" %>
		</p>
	<% end %>
<% end %>
