<p>
	<strong>Entry:</strong>
	<%= @link.entry %>
</p>

<p>
	<strong>Original Link:</strong>
	<%= @link.destination %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %>
<%= link_to 'Back', links_path %>
